{%- macro geo(country, city) -%}
    {%- if country and city -%}
    (
        Country IN ({{ country|map("quote")|join(",") }})
        AND City IN ({{ city|map("quote")|join(",") }})
    )
    {%- elif country -%}
    Country IN ({{ country|map("quote")|join(",") }})
    {%- elif city -%}
    City IN ({{ city|map("quote")|join(",") }})
    {%- else -%}
    1 = 1
    {%- endif -%}
{%- endmacro -%}

{%- macro mls_status_closed() -%}
    MlsStatus = 'Closed'
{%- endmacro -%}

{%- macro mls_status_active() -%}
    MlsStatus in ('Active', 'Coming Soon / Hold', 'Under Contract - Showing', 'Under Contract - Not Showing', 'Closed')
{%- endmacro -%}

{%- macro close_date(start, end) -%}
    (CloseDate BETWEEN {{ start|quote }} AND {{ end|quote }})
{%- endmacro -%}

{%- macro market_date(start, end) -%}
    (
        OnMarketDate <= {{ end|quote }}
        AND (OffMarketDate >= {{ start|quote }} OR ContingentDate >= {{ start|quote }})
    )
{%- endmacro -%}
