{%- macro breakdown(by) -%}
    {%- if by == 'bedrooms_total' -%}
    BedroomsTotal
    {%- elif by == 'type' -%}
    PropertySubType
    {%- elif by == 'postal_code' -%}
    PostalCode
    {%- endif -%}
{%- endmacro %}
