{%- import 'dimensions.macro.sql.j2' as dimensions %}
{%- import 'groupbys.macro.sql.j2' as groupbys %}
{%- import 'filters.macro.sql.j2' as filters %}

SELECT
    {{ dimensions.breakdown(by) }}
    COUNT(ListingId) as count_units,
FROM
    MLSGrid.Property
WHERE
    1 = 1
    {{ filters.mls_status_active() }}
    {{ filters.market_date(start, end) }}
    {{ filters.geo(country, city) }}
GROUP BY
    {{ groupbys.breakdown(by) }}

