{%- import 'macro/dimensions.sql.j2' as dimensions %}
{%- import 'macro/filters.sql.j2' as filters %}
{%- import 'macro/cte.sql.j2' as cte %}

WITH
    {{ cte.master_dimension(by) }}
    new_listings AS (
        SELECT
            {{ dimensions.date('OnMarketDate', level) }} AS date,
            COUNT(ListingId) AS cnt,
        FROM
            MLSGrid.Property
        WHERE
            OnMarketDate BETWEEN '{{ start }}' AND '{{ end }}'
            AND {{ filters.geo(county, city) }}
        GROUP BY
            date
    ),
    under_contract AS (
        SELECT
            {{ dimensions.date('COALESCE(OffMarketDate, ContingentDate)', level) }} AS date,
            COUNT(ListingId) AS cnt,
        FROM
            MLSGrid.Property
        WHERE
            (
                OffMarketDate BETWEEN '{{ start }}' AND '{{ end }}'
                OR ContingentDate BETWEEN '{{ start }}' AND '{{ end }}'
            )
            AND {{ filters.geo(county, city) }}
        GROUP BY
            date
    )
select
    *,
    AVG(new_listings) OVER (ORDER BY date) AS new_listings_avg,
    AVG(under_contract) OVER (ORDER BY date) AS under_contract_avg,
FROM
    (
        SELECT
            master_dimension.day AS date,
            SUM(new_listings.cnt) AS new_listings,
            SUM(under_contract.cnt) AS under_contract,
        FROM
            master_dimension
            LEFT JOIN new_listings
            ON master_dimension.day = new_listings.date
            LEFT JOIN under_contract
            ON master_dimension.day = under_contract.date
        GROUP BY
            master_dimension.day
        HAVING
            new_listings > 0
            OR under_contract > 0
    )
ORDER BY
    date
