{%- import 'macro/filters.sql.j2' as filters %}

SELECT
    (
        SELECT
            SUM(ClosePrice)
        FROM
            MLSGrid.Property
        WHERE
            {{ filters.close_date(start, end) }}
    ) AS total_sales_volume,
    (
        SELECT
            SUM(ClosePrice)
        FROM
            MLSGrid.Property
        WHERE
            PropertyType = 'Residential'
            AND {{ filters.close_date(start, end) }}
    ) AS residential_sales_volume,
    (
        SELECT
            SUM(ClosePrice)
        FROM
            MLSGrid.Property
        WHERE
            PropertyType = 'Condo'
            AND {{ filters.close_date(start, end) }}
    ) AS condo_sales_volume,
    (
        SELECT
            AVG(ClosePrice)
        FROM
            MLSGrid.Property
        WHERE
            {{ filters.close_date(start, end) }}
    ) AS avg_close_price,
    (
        SELECT
            AVG(ListPrice)
        FROM
            MLSGrid.Property
        WHERE
            {{ filters.close_date(start, end) }}
    ) AS avg_list_price,
    (
        SELECT
            AVG(DATE_DIFF(CloseDate, OnMarketDate, DAY) + 1)
        FROM
            MLSGrid.Property
        WHERE
            MlsStatus in ('Closed')
            AND {{ filters.close_date(start, end) }}
    ) AS avg_days_to_close,
    (
        SELECT
            AVG(DATE_DIFF(CURRENT_DATE(), OnMarketDate, DAY) + 1)
        FROM
            MLSGrid.Property
        WHERE
            MlsStatus in ('Active')
            AND {{ filters.market_date(start, end) }}

    ) AS avg_days_to_market,
    (
        SELECT
            SUM(ListPrice)
        FROM
            MLSGrid.Property
        WHERE
            MlsStatus in ('Active', 'Coming Soon / Hold')
            AND {{ filters.market_date(start, end) }}
    ) AS current_inventory,
