{%- import 'macro/filters.sql.j2' as filters %}

SELECT
    CloseDate AS date,
    SUM(ClosePrice) AS total_close_price,
FROM
    MLSGrid.Property
WHERE
    LOWER(PropertySubType) LIKE '%condo%'
    AND {{ filters.close_date(start, end) }}
    AND {{ filters.geo(country, city) }}
GROUP BY
    date
ORDER BY
    date
