{%- import 'macro/dimensions.sql.j2' as dimensions %}
{%- import 'macro/filters.sql.j2' as filters %}

SELECT
    date,
    AVG(ClosePrice) AS avg_close_price,
    AVG(median_close_price) AS median_close_price
FROM 
    (
        SELECT
            {{ dimensions.date('CloseDate', level) }} AS date,
            ClosePrice,
            PERCENTILE_CONT(ClosePrice , 0.5) OVER (PARTITION BY CloseDate) AS median_close_price,
        FROM
            MLSGrid.Property
        WHERE
            {{ filters.mls_status_closed() }}
            AND {{ filters.close_date(start, end) }}
            AND {{ filters.geo(county, city) }}
    )
GROUP BY
    date
ORDER BY
    date
