{%- import 'macro/dimensions.sql.j2' as dimensions %}
{%- import 'macro/filters.sql.j2' as filters %}

SELECT
    date,
    AVG(median_close_price) AS median_close_price,
    AVG(median_list_price) AS median_list_price,
    AVG(SAFE_DIVIDE(median_close_price, median_list_price)) AS ratio
FROM
    (
        SELECT
            {{ dimensions.date('CloseDate', level) }} AS date,
            PERCENTILE_CONT(ClosePrice , 0.5) OVER (PARTITION BY CloseDate) AS median_close_price,
            PERCENTILE_CONT(OriginalListPrice , 0.5) OVER (PARTITION BY CloseDate) AS median_list_price,
        FROM
            MLSGrid.Property
        WHERE
            {{ filters.mls_status_closed() }}
            AND {{ filters.close_date(start, end) }}
            AND {{ filters.geo(county, city) }}
    )
GROUP BY
    date
ORDER BY
    date
