SELECT
    DATE(MajorChangeTimeStamp) AS date,
    PropertySubType AS property_sub_type,
    COUNT(ListingId) AS count_units,
    AVG(DATEDIFF(DATE(MajorChangeTimeStamp), OnMarketDate, day) + 1) AS avg_time_to_discount_in_days,
    AVG(ListPrice - PreviousListPrice) AS price_reduction,
FROM
    MLSGrid.Property
WHERE
    1 = 1
    AND MajorChangeType = 'Price Change'
    AND MlsStatus in (
        'Active',
        'Coming Soon / Hold',
        'Under Contract - Showing',
        'Under Contract - Not Showing',
        'Closed'
    )
    AND OnMarketDate <= {{ end|quote }}
    AND (OffMarketDate >= {{ start|quote }} OR ContingentDate >= {{ start|quote }})
    {%- if country %}
    AND Country IN ({{ country|map("quote")|join(",") }})
    {% endif %}
    {%- if city %}
    AND City IN ({{ city|map("quote")|join(",") }})
    {% endif %}
GROUP BY
    DATE(MajorChangeTimeStamp),
    PropertySubType
